<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso de Expiração de Senha</title>
</head>
<body style="font-family: Arial, sans-serif;">
    <h2>Prezado(a) 	[[${username}]],</h2>
    <p>Estamos entrando em contato para informar que a sua senha está prestes a vencer. Para garantir a segurança da sua conta, solicitamos que você a atualize o quanto antes.</p>
    <p><strong>Data de expiração amanhã</strong></p>
    <h3>Instruções para troca de senha:</h3>
    <ol>
        <li>Acesse o nosso <a href="https://www.lojaVirtual.com/login">site de login</a>.</li>
        <li>Faça login com sua senha atual.</li>
        <li>Vá até o painel de configurações da conta e selecione "Alterar Senha".</li>
        <li>Siga as instruções para definir uma nova senha.</li>
    </ol>
    <p>Se você tiver qualquer dúvida ou precisar de assistência, não hesite em nos contatar.</p>
    <p>Atenciosamente,</p>
    <p><strong>Equipe Loja Virtual</strong></p>
    <hr>
    <p style="font-size: small;">Este é um e-mail automático, por favor não responda diretamente. Caso precise de ajuda, entre em contato pelo nosso <a href="https://www.lojaVirtual.com/suporte">suporte</a>.</p>
</body>
</html>
